####genome version for gene fusion analysis, Human.B38,Human.hg19,Mouse.B38,Rat.B5.0,Rat.B6.0
Geno_type	Rat.B6.0


#######genome version optinal, GRCh37,GRCh38,GRCm38,mm9,Rn_Celera,Rnor_5.0,Rnor_6.0
db	Rnor_6.0

## genome sequence file, FAST format
Ref_seq		/share/nas2/database/genome/Rattus_norvegicus/Rnor_6.0/Rattus_norvegicus.Rnor_6.0.genome.fa

#####
Pfam		/share/nas2/database/pfam/27.0/Pfam-A.hmm

###sample config file used in regular analysis
sample		/share/nas1/wenyh/develop/lncRNA/test_1123/data.cfg
