############# The config file for filter Rawdata and basic analysis ########

#Sample1
miRBase       v21

############# a read is allowed to map up to this number of positions in the genome #############
max_map       5

#####################################################################################################################################

############# The config file for senior analysis ########
###### Summary information

## species type (0 animal;1 plant)
SPECIES_TYPE                0
SPECIES_NAME               Human 

### software combinations to perform target prediction, 1: use the software and 0: otherwise
RNAhybrid                   1
miRanda                     1

### animal RNAhybrid parameter
RNAhybrid_EN                -25

### animal miranda parameter
## set the alignment score threshold, only alignments with scores>=score will be used for analysis  
miRanda_SCORE               50.0          

## detected targets with energies less than an energy threshold are selected as potential target sites
## A negative value is required for filtering to occur
miRanda_EN                  -20  

## Set the scaling parameter to scale. This scaling is applied to match / mismatch scores in the critical 7bp region near the 5' end of the microRNA. 
## Many known examples of miRNA:Target duplexes are highly complementary in this region. 
## This parameter can be thought of as a contrast function to more effectively detect alignments of this type
miRanda_scale               4.0

##  -go -X         Set gap-open penalty to -X              [DEFAULT: -2.0]
miRanda_go                  -2.0
##  -ge -X         Set gap-extend penalty to -X            [DEFAULT: -8.0]
miRanda_ge                  -8.0

## Require strict alignment in the seed region (offset positions 2-8). 
## This option prevents the detection of target sites which contain gaps or non-cannonical base pairing in this region
miRanda_strict              0

### plant targetfinder score
##Search reverse strand for targets (0 off;1 on)
TargetFinder_rev            0 
TargetFinder_score          3


######## DEG fold 
fold          2

######## FDR threshold
FDR           0.01



